@use '../../../utils/sass/mixins/helpers';
@use '../../../utils/sass/mixins/responsive';

.ds-click-icon {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;

  --icon-size: #{helpers.px-to-rem(20)};

  .ds-icon {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  @include responsive.media-exceeds-width('desktop-small') {
    --icon-size: #{helpers.px-to-rem(24)};
  }
}
