@use "../../../utils/sass/mixins/helpers";
@use "../../../utils/sass/mixins/responsive";

.ds-click-icon {
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;

  --icon-size: #{helpers.pxToRem(20)};

  .ds-icon {
    width: var(--icon-size);
    height: var(--icon-size);
  }

  @include responsive.mediaExceedsWidth("desktop-small") {
    --icon-size: #{helpers.pxToRem(24)};
  }
}
