@use "../../../../utils/sass/mixins/helpers";
@use "../../../../utils/sass/mixins/responsive";

.ds-color-input {
  --outline-width: 1px;
  --outline-color: var(--color-primary-50);
  --value-font-size: #{helpers.pxToRem(14)};

  display: flex;
  gap: helpers.pxToRem(8);
  align-items: center;
  width: fit-content;
  max-width: helpers.pxToRem(200);
  padding: helpers.pxToRem(6) helpers.pxToRem(12);
  font-weight: 600;
  cursor: pointer;
  outline: var(--outline-width) solid var(--outline-color);
  border-radius: helpers.pxToRem(10);
  transition:
    outline-color 0.3s ease,
    filter 0.3s ease;

  &:hover {
    filter: brightness(0.95);
  }

  &:focus-within,
  &:hover {
    --outline-width: 2px;
  }

  &:has(input[aria-invalid="true"]) {
    --outline-width: 2px;
    --outline-color: var(--color-error);

    &:hover,
    &:focus-within {
      --outline-width: 3px;
    }
  }

  @include responsive.mediaExceedsWidth("desktop-small") {
    --value-font-size: #{helpers.pxToRem(16)};
  }

  &__icon {
    flex-shrink: 0;
    width: helpers.pxToRem(20);
    height: helpers.pxToRem(20);
  }

  &__value {
    font-size: var(--value-font-size);
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
  }
}
