@use '../../../../utils/sass/mixins/helpers';
@use '../../../../utils/sass/mixins/responsive';

.ds-color-input {
  display: flex;
  width: 100%;
  max-width: helpers.px-to-rem(120);
  padding: helpers.px-to-rem(6) helpers.px-to-rem(12);
  border: 1px solid var(--color-grey-900);
  border-radius: helpers.px-to-rem(10);
  align-items: center;
  gap: helpers.px-to-rem(8);
  font-weight: 600;
  transition:
  border-color 0.1s ease,
  filter 0.1s ease;
  cursor: pointer;

  &:hover {
    border-color: var(--color-black);
    filter: brightness(0.95);
    border-width: helpers.px-to-rem(2);
  }

  &:focus-within {
    outline: 1px solid var(--color-black);
    outline-offset: helpers.px-to-rem(2);
    transition: 0.1s ease;
  }

  &:has(input[aria-invalid='true']) {
    border-width: helpers.px-to-rem(2);
    border-color: var(--color-error);

    &:hover,
    &:focus-within {
      outline-color: var(--color-error);
    }
  }

  &__icon {
    width: helpers.px-to-rem(20);
    height: helpers.px-to-rem(20);
    flex-shrink: 0;
  }

  &__value {
    font-size: helpers.px-to-rem(14);

    @include responsive.media-exceeds-width('desktop-small') {
      font-size: helpers.px-to-rem(16);
    }
  }

  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
  }
}
