@use "../../../utils/sass/mixins/helpers";

.dashboard {
  display: flex;
  grid-column: 1 / -1;
  flex-direction: column;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
  }

  &__content {
    margin-top: #{helpers.px-to-rem(90)};
  }

  &__button {
    width: 200px;
  }

  &__no-events {
    margin-top: 25%;
    align-self: center;
  }
}
