@use "../../../utils/sass/mixins/helpers";
@use "../../../utils/sass/mixins/responsive";

.dashboard {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  height: 100vh;

  &__header {
    position: fixed;
    top: 0;
    left: 0;
  }

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 0;
    margin-top: #{helpers.pxToRem(90)};

    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--header-buttons {
      width: fit-content;

      @include responsive.mediaExceedsWidth("mobile") {
        width: #{helpers.pxToRem(200)};
      }
    }

    &--no-events {
      display: flex;
      flex: 1;
      flex-direction: column;
      gap: #{helpers.pxToRem(10)};
      align-items: center;
      justify-content: center;
      margin-bottom: #{helpers.pxToRem(90)};
      font-size: #{helpers.pxToRem(20)};
      font-weight: 500;
    }

    &--no-events-icon {
      width: #{helpers.pxToRem(100)};
      height: #{helpers.pxToRem(100)};
    }
  }
}
