@use "../../../utils/sass/mixins/helpers";

.ds-overlay-content {
  &__header {
    display: flex;
    column-gap: helpers.pxToRem(16);
    align-items: center;
    justify-content: space-between;
  }

  &__footer {
    display: flex;
    gap: helpers.pxToRem(8);
    justify-content: flex-end;
  }

  &__footer > * {
    width: fit-content;
  }
}
