@use '../../../utils/sass/mixins/helpers';

.ds-overlay-content {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: helpers.px-to-rem(8);
  }

  &__footer > * {
    width: fit-content;
  }
}
