@use "../../../../utils/sass/mixins/helpers";

.ds-mono-checkbox-input {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: helpers.pxToRem(4) helpers.pxToRem(12);
  align-items: center;

  label {
    grid-row: 1;
    grid-column: 2;
    margin-bottom: 0;
    cursor: pointer;
  }

  .ds-checkbox-input-atom {
    grid-row: 1;
    grid-column: 1;
  }

  .ds-input-error-message {
    grid-row: 2;
    grid-column: 1 / -1;
    margin-top: 4px;
  }
}
