@use '../../../../utils/sass/mixins/helpers';
@use '../../../../utils/sass/mixins/responsive';

.ds-select-input-atom {
  --select-atom-color: var(--color-primary);
  --select-atom-shadow-color: var(--select-atom-color);
  --select-atom-shadow-size: #{helpers.px-to-rem(1)};
  --select-atom-border-color: transparent;

  width: 100%;
  padding: helpers.px-to-rem(8) helpers.px-to-rem(10);
  border: helpers.px-to-rem(1) solid var(--select-atom-border-color);
  border-radius: helpers.px-to-rem(4);
  overflow: hidden;
  font-size: 1rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: transparent;
  box-shadow: 0 0 0 var(--select-atom-shadow-size) var(--select-atom-shadow-color);
  outline: none;
  transition:
    border-color 400ms ease,
    box-shadow 400ms ease;
  cursor: pointer;
  appearance: base-select;

  &::picker(select) {
    max-width: helpers.px-to-rem(300);
    padding: helpers.px-to-rem(4);
    border: helpers.px-to-rem(1) solid var(--color-primary-50);
    border-radius: helpers.px-to-rem(4);
    overflow-x: hidden;
    background-color: transparent;
    appearance: base-select;
  }

  &::picker-icon {
    width: helpers.px-to-rem(20);
    height: helpers.px-to-rem(20);
    color: var(--select-atom-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
  }

  &:open::picker-icon {
    transform: rotate(180deg);
    transition: transform 400ms ease;
  }

  option {
    white-space: normal;
    word-break: normal;
    overflow-wrap: anywhere;

    &:hover {
      background-color: var(--color-primary-light-50);
    }
  }

  &:focus {
    --select-atom-shadow-color: var(--color-primary-50);
    --select-atom-shadow-size: #{helpers.px-to-rem(2)};
  }

  &[aria-invalid='true'] {
    --select-atom-shadow-color: var(--color-error);
    --select-atom-border-color: var(--color-error);

    &:hover,
    &:focus {
      --select-atom-shadow-size: #{helpers.px-to-rem(2)};
    }
  }

  @include responsive.media-less-than-width('tablet') {
    font-size: helpers.px-to-rem(14);
  }

  &:hover:not(:focus):not([aria-invalid='true']) {
    --select-atom-shadow-color: var(--color-primary-light-50);
    --select-atom-shadow-size: #{helpers.px-to-rem(2)};
  }

  &:not(:focus):not([aria-invalid='true']):not(:placeholder-shown) {
    --select-atom-shadow-color: var(--color-primary-50);
  }
}
