@use "../../../../utils/sass/mixins/helpers";
@use "../../../../utils/sass/mixins/responsive";

.ds-select-input-atom {
  --select-atom-color: var(--color-primary);
  --select-atom-shadow-color: var(--select-atom-color);
  --select-atom-shadow-size: #{helpers.pxToRem(1)};
  --select-atom-border-color: transparent;
  --select-atom-font-size: #{helpers.pxToRem(14)};

  width: 100%;
  padding: helpers.pxToRem(8) helpers.pxToRem(10);
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--select-atom-font-size);
  white-space: nowrap;
  appearance: base-select;
  cursor: pointer;
  outline: none;
  background: var(--color-white);
  border: helpers.pxToRem(1) solid var(--select-atom-border-color);
  border-radius: helpers.pxToRem(4);
  box-shadow: 0 0 0 var(--select-atom-shadow-size)
    var(--select-atom-shadow-color);
  transition:
    border-color 400ms ease,
    box-shadow 400ms ease;

  &::picker(select) {
    max-width: helpers.pxToRem(300);
    padding: helpers.pxToRem(4);
    overflow-x: hidden;
    appearance: base-select;
    background-color: var(--color-white);
    border: helpers.pxToRem(1) solid var(--color-primary-50);
    border-radius: helpers.pxToRem(4);
  }

  &::picker-icon {
    width: helpers.pxToRem(20);
    height: helpers.pxToRem(20);
    color: var(--select-atom-color);
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
  }

  &:open::picker-icon {
    transform: rotate(180deg);
    transition: transform 400ms ease;
  }

  option {
    word-break: normal;
    overflow-wrap: anywhere;
    white-space: normal;

    &:hover {
      background-color: var(--color-primary-light-50);
    }
  }

  &:focus {
    --select-atom-shadow-color: var(--color-primary-50);
    --select-atom-shadow-size: #{helpers.pxToRem(2)};
  }

  &[aria-invalid="true"] {
    --select-atom-shadow-color: var(--color-error);
    --select-atom-border-color: var(--color-error);

    &:hover,
    &:focus {
      --select-atom-shadow-size: #{helpers.pxToRem(2)};
    }
  }

  @include responsive.mediaExceedsWidth("desktop-small") {
    --select-atom-font-size: #{helpers.pxToRem(16)};
  }

  &:hover:not(:focus):not([aria-invalid="true"]) {
    --select-atom-shadow-color: var(--color-primary-light-50);
    --select-atom-shadow-size: #{helpers.pxToRem(2)};
  }

  &:not(:focus):not([aria-invalid="true"]):not(:placeholder-shown) {
    --select-atom-shadow-color: var(--color-primary-50);
  }
}
