@use "../../../utils/sass/mixins/responsive";

.oauth-nav {
  --cols: 4;

  padding: 1rem;
  border: 1px solid black;
  border-radius: 0.5rem;

  @include responsive.mediaExceedsWidth("tablet") {
    --start: 3;
  }

  @include responsive.mediaExceedsWidth("desktop-small") {
    --start: 5;
  }

  &__heading {
    margin: 0 0 0.75rem;
    font-size: 1.1rem;
    font-weight: 600;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}
