@use "../../utils/sass/mixins/responsive";
@use "../../utils/sass/mixins/helpers";

.card-page {
  --card-page-padding-top: #{helpers.pxToRem(16)};
  --card-page-row-gap: #{helpers.pxToRem(16)};
  --logo-width: #{helpers.pxToRem(48)};

  display: flex;
  box-sizing: border-box;
  min-height: 100dvh;
  padding-top: var(--card-page-padding-top);
  padding-bottom: #{helpers.pxToRem(16)};
  flex-direction: column;
  justify-content: center;
  row-gap: var(--card-page-row-gap);

  &__logo {
    display: block;
    align-self: center;
    line-height: 0;

    svg {
      width: var(--logo-width);
      height: auto;
    }
  }

  &__title {
    text-align: center;
  }

  @include responsive.mediaExceedsWidth("tablet") {
    --cols: 6;
    --start: 2;
    --logo-width: #{helpers.pxToRem(64)};
  }

  @include responsive.mediaExceedsWidth("desktop-small") {
    --start: 4;
    --card-page-row-gap: #{helpers.pxToRem(24)};
    --card-page-padding-top: #{helpers.pxToRem(32)};
  }
}
