@use "../../../utils/sass/mixins/helpers";

.header {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  max-width: 100vw;
  padding: #{helpers.pxToRem(20)};

  &---logo {
    width: #{helpers.pxToRem(50)};
    height: auto;
  }

  &__buttons {
    display: flex;
    gap: #{helpers.pxToRem(10)};
  }

  &__button {
    padding: #{helpers.pxToRem(10)};
  }
}
