@use '../../../utils/sass/mixins/helpers';

.ds-toast {
  display: flex;
  padding: helpers.px-to-rem(10) helpers.px-to-rem(20);
  border-radius: helpers.px-to-rem(4);
  align-items: center;
  gap: helpers.px-to-rem(8);
  color: var(--color-white);
  background-color: var(--color-black);
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  animation: slideIn 0.3s ease-out forwards;
  pointer-events: auto;

  &__close {
    padding: helpers.px-to-rem(2);
    border: none;
    font-size: helpers.px-to-rem(14);
    color: inherit;
    background: none;
    cursor: pointer;
  }
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
