@use '../../../utils/sass/mixins/helpers';

.ds-toast {
  pointer-events: auto; 
  display: flex;
  align-items: center;
  padding: helpers.px-to-rem(10) helpers.px-to-rem(20);
  border-radius: helpers.px-to-rem(4);
  gap: helpers.px-to-rem(8);
  color: #fff;
  background-color: #333;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
    opacity: 0;
  transform: translateY(100%); 
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

  &--visible {
    opacity: 1;
    transform: translateY(0); 
  }

  &__close {
    padding: helpers.px-to-rem(2);
    border: none;
    font-size: helpers.px-to-rem(14);
    color: inherit;
    background: none;
    cursor: pointer;
  }
}