@use '../../../utils/sass/mixins/helpers';

.ds-toast {
  position: fixed;
  z-index: 1000;
  bottom: helpers.px-to-rem(20);
  left: 50%;
  display: flex;
  padding: helpers.px-to-rem(10) helpers.px-to-rem(20);
  border-radius: helpers.px-to-rem(4);
  align-items: center;
  gap: helpers.px-to-rem(8);
  opacity: 0;
  color: #fff;
  background-color: #333;
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  transform: translate(-50%, 10px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;

  &--visible {
    opacity: 1;
    transform: translate(-50%, 0);
  }

  &__close {
    padding: helpers.px-to-rem(2);
    border: none;
    font-size: helpers.px-to-rem(14);
    color: inherit;
    background: none;
    cursor: pointer;
  }
}
