@use '../../../utils/sass/mixins/helpers';
@use '../../../utils/sass/mixins/responsive';

.ds-button {
  --text-font-size: #{helpers.px-to-rem(12)};
  --icon-size: #{helpers.px-to-rem(16)};
  --button-primary-color: var(--color-white);
  --button-secondary-color: var(--color-primary);

  display: flex;
  width: 100%;
  padding: helpers.px-to-rem(12) helpers.px-to-rem(24);
  border: helpers.px-to-rem(2) solid var(--btn-color);
  border-radius: helpers.px-to-rem(6);
  align-items: center;
  justify-content: center;
  gap: helpers.px-to-rem(8);
  font-size: var(--text-font-size);
  font-weight: 600;
  color: var(--btn-color);
  background-color: var(--btn-color);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  cursor: pointer;

  .ds-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: currentcolor;
  }

  &--primary {
    color: var(--button-primary-color);

    &:hover {
      color: var(--btn-color);
      background-color: transparent;
    }
  }

  &--secondary {
    color: var(--btn-color);
    background-color: transparent;

    &:hover {
      color: var(--button-primary-color);
      background-color: var(--btn-color);
    }
  }

  &--default {
    --btn-color: var(--color-primary);
  }

  &--neutral {
    --btn-color: var(--color-grey-400);
  }

  &--danger {
    --btn-color: var(--color-error);
  }

  &:is([disabled], [aria-disabled='true']) {
    border-color: transparent;
    color: var(--color-white);
    background-color: var(--color-grey-400);
    cursor: not-allowed;

    .ds-spinner {
      --ds-spinner-color: currentcolor;
    }
  }

  @include responsive.media-exceeds-width('desktop-small') {
    --text-font-size: #{helpers.px-to-rem(14)};
    --icon-size: #{helpers.px-to-rem(20)};
  }
}
