@use "../../../utils/sass/mixins/helpers";
@use "../../../utils/sass/mixins/responsive";

.ds-button {
  --text-font-size: #{helpers.pxToRem(12)};
  --icon-size: #{helpers.pxToRem(16)};
  --button-primary-color: var(--color-white);
  --button-secondary-color: var(--color-primary);

  display: flex;
  gap: helpers.pxToRem(8);
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: helpers.pxToRem(12) helpers.pxToRem(24);
  font-size: var(--text-font-size);
  font-weight: 600;
  color: var(--btn-color);
  cursor: pointer;
  background-color: var(--btn-color);
  border: helpers.pxToRem(2) solid var(--btn-color);
  border-radius: helpers.pxToRem(6);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  .ds-icon {
    width: var(--icon-size);
    height: var(--icon-size);
    fill: currentcolor;
  }

  &--primary {
    color: var(--button-primary-color);

    &:hover {
      color: var(--btn-color);
      background-color: transparent;
    }
  }

  &--secondary {
    color: var(--btn-color);
    background-color: transparent;

    &:hover {
      color: var(--button-primary-color);
      background-color: var(--btn-color);
    }
  }

  &--default {
    --btn-color: var(--color-primary);
  }

  &--neutral {
    --btn-color: var(--color-grey-400);
  }

  &--danger {
    --btn-color: var(--color-error);
  }

  &:is([disabled], [aria-disabled="true"]) {
    color: var(--color-white);
    cursor: not-allowed;
    background-color: var(--color-grey-400);
    border-color: transparent;

    .ds-spinner {
      --ds-spinner-color: currentcolor;
    }
  }

  @include responsive.mediaExceedsWidth("desktop-small") {
    --text-font-size: #{helpers.pxToRem(14)};
    --icon-size: #{helpers.pxToRem(20)};
  }
}
