@use "../../utils/sass/mixins/helpers";
@use "../../utils/sass/mixins/spacing";
@use "../../utils/sass/mixins/responsive";

$responsiveGrid: (
  tablet: (
    cols: 8,
    margin-h: spacing.getMarginHorizontal(4),
    gap: spacing.getGap(4),
    row-gap: spacing.getGap(4),
  ),
  desktop-small: (
    cols: 12,
    margin-h: var(--margin-8),
    gap: spacing.getGap(4),
    row-gap: spacing.getGap(4),
  ),
  desktop-medium: (
    cols: 12,
    margin-h: var(--margin-10),
    gap: spacing.getGap(4),
    row-gap: spacing.getGap(4),
  ),
  desktop-large: (
    cols: 12,
    margin-h: auto,
    gap: spacing.getGap(4),
    row-gap: spacing.getGap(4),
  ),
);

@mixin generateResponsiveGrid($responsiveGrid) {
  @each $breakpoint, $settings in $responsiveGrid {
    @include responsive.mediaExceedsWidth($breakpoint) {
      @each $property, $value in $settings {
        --#{$property}: #{$value};
      }
    }
  }
}

.grid {
  --cols: 4;
  --row-gap: #{spacing.getGap(2)};
  --start: auto;

  display: grid;
  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
  row-gap: var(--row-gap);
  max-width: helpers.pxToRem(1440);

  @include spacing.initMarginHorizontal("margin-h", 2);
  @include spacing.initSpacing(spacing.getGap(2), "column-gap", "gap");
  @include generateResponsiveGrid($responsiveGrid);
}

.grid > *,
.subgrid > * {
  grid-column: var(--start) / span var(--cols);
}

.subgrid {
  display: grid;
  row-gap: var(--row-gap);
  align-content: start;

  @supports (grid-template-columns: subgrid) {
    grid-template-columns: subgrid;
  }

  @supports not (grid-template-columns: subgrid) {
    grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
    column-gap: var(--gap);
  }
}
