@use "../../utils/sass/mixins/helpers";
@use "../../utils/sass/mixins/responsive";

%inputBase {
  --input-shadow-color: var(--color-grey-300);
  --input-shadow-size: 1px;
  --font-size: #{helpers.pxToRem(14)};

  width: 100%;
  padding: 0.5rem 0.75rem;
  font-size: var(--font-size);
  color: var(--color-grey-900);
  outline: none;
  background: #fff;
  border: none;
  border-radius: 6px;
  box-shadow: 0 0 0 var(--input-shadow-size) var(--input-shadow-color);
  transition: box-shadow 0.2s;

  @include responsive.mediaExceedsWidth("desktop-small") {
    --font-size: #{helpers.pxToRem(16)};
  }

  &::placeholder {
    color: var(--color-grey-400);
  }

  &:focus {
    --input-shadow-color: var(--color-primary-50);
    --input-shadow-size: 2px;
  }

  &[aria-invalid="true"] {
    --input-shadow-color: var(--color-error);
    --input-shadow-size: 2px;

    &:hover,
    &:focus {
      --input-shadow-size: 3px;
    }
  }

  &:hover:not(:focus):not([aria-invalid="true"]) {
    --input-shadow-color: var(--color-primary-light-50);
    --input-shadow-size: 2px;
  }

  &:not(:focus):not([aria-invalid="true"]):not(:placeholder-shown) {
    --input-shadow-color: var(--color-primary-50);
  }
}
