@use "../../utils/sass/mixins/helpers";
@use "../../utils/sass/mixins/responsive";

.duration-field {
  padding: 0;
  margin: 0;
  border: 0;

  &__legend {
    display: flex;
    column-gap: helpers.pxToRem(4);
    margin-bottom: helpers.pxToRem(8);
    font-size: helpers.pxToRem(18);
    font-weight: 600;

    &-required {
      font-weight: normal;
      color: var(--color-error);
    }
  }

  &__field {
    display: flex;
    flex-direction: column;
    gap: helpers.pxToRem(4);
  }

  &__field-label {
    display: flex;
    gap: helpers.pxToRem(4);
    align-items: center;
    margin-right: helpers.pxToRem(8);
  }

  @include responsive.mediaExceedsWidth("desktop-small") {
    .ds-number-input-atom {
      width: helpers.pxToRem(40);
    }
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: helpers.pxToRem(8);

    @include responsive.mediaExceedsWidth("desktop-small") {
      flex-direction: row;
      align-items: flex-end;
    }
  }
}
