@use '../../utils/sass/mixins/helpers';

.ds-toast-container {
  position: fixed;
  z-index: 1000;
  bottom: helpers.px-to-rem(20);
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: helpers.px-to-rem(10);
  transform: translateX(-50%);
  pointer-events: none;
}
