components:
  schemas:
    account.AccountCreateDto:
      properties:
        email:
          type: string
        password:
          type: string
        username:
          type: string
      required:
      - email
      - password
      - username
      type: object
    account.AccountUpdateDto:
      properties:
        email:
          type: string
        password:
          type: string
        username:
          type: string
      type: object
    constants.Provider:
      type: string
      x-enum-varnames:
      - PROVIDER_GOOGLE
      - PROVIDER_DISCORD
      - PROVIDER_GITHUB
    event.EventCreateDto:
      properties:
        description:
          type: string
        duration:
          maximum: 30240
          minimum: 15
          type: integer
        endsAt:
          type: string
        name:
          type: string
        startsAt:
          type: string
      required:
      - duration
      - endsAt
      - name
      - startsAt
      type: object
    event.EventResponse:
      properties:
        createdAt:
          type: string
        description:
          type: string
        duration:
          description: In minutes
          type: integer
        endsAt:
          type: string
        id:
          type: string
        name:
          type: string
        owner:
          $ref: '#/components/schemas/model.Account'
        participants:
          items:
            $ref: '#/components/schemas/model.Account'
          type: array
          uniqueItems: false
        startsAt:
          type: string
      type: object
    helpers.ApiError:
      properties:
        code:
          type: string
      type: object
    model.Account:
      properties:
        avatarUrl:
          type: string
        createdAt:
          type: string
        email:
          type: string
        events:
          items:
            $ref: '#/components/schemas/model.AccountEvent'
          type: array
          uniqueItems: false
        id:
          type: string
        providers:
          items:
            $ref: '#/components/schemas/model.AccountProvider'
          type: array
          uniqueItems: false
        userName:
          type: string
      type: object
    model.AccountEvent:
      properties:
        account:
          $ref: '#/components/schemas/model.Account'
        createdAt:
          type: string
        event:
          $ref: '#/components/schemas/model.Event'
      type: object
    model.AccountProvider:
      properties:
        provider:
          $ref: '#/components/schemas/constants.Provider'
      type: object
    model.Event:
      properties:
        createdAt:
          type: string
        description:
          type: string
        duration:
          description: In minutes
          type: integer
        endsAt:
          type: string
        id:
          type: string
        name:
          type: string
        owner:
          $ref: '#/components/schemas/model.Account'
        startsAt:
          type: string
      type: object
    signin.SigninDto:
      properties:
        email:
          type: string
        password:
          type: string
      required:
      - email
      - password
      type: object
    signin.TokenResponseDto:
      properties:
        access_token:
          type: string
      type: object
  securitySchemes:
    AccessTokenCookie:
      description: Enter your bearer token in the format **Bearer &lt;token&gt;**
      in: cookie
      name: access_token
      type: apiKey
externalDocs:
  description: ""
  url: ""
info:
  contact:
    email: contact@zide.fr
  description: SlotFinder API Doc
  title: SlotFinder API
  version: 1.0b
openapi: 3.1.0
paths:
  /v1/account:
    patch:
      description: Update own account
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account.AccountUpdateDto'
        description: Account parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Account'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helpers.ApiError'
          description: Bad Request
      security:
      - AccessTokenCookie: []
      summary: Update my account
      tags:
      - Account
    post:
      description: Create a new account with the provided parameters.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/account.AccountCreateDto'
        description: Account parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helpers.ApiError'
          description: Bad Request
      summary: Create an account
      tags:
      - Account
  /v1/account/me:
    get:
      description: Get the account information of the current user.
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Account'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helpers.ApiError'
          description: Bad Request
      security:
      - AccessTokenCookie: []
      summary: Get My Account
      tags:
      - Account
  /v1/auth/{provider}/url:
    get:
      parameters:
      - description: OAuth provider
        in: path
        name: provider
        required: true
        schema:
          enum:
          - google
          - github
          - discord
          type: string
      - description: URL to return to after OAuth
        in: query
        name: returnUrl
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: OAuth URL
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helpers.ApiError'
          description: Bad Request
      summary: Get redirect URL for OAuth provider
      tags:
      - Authentication
  /v1/auth/logout:
    post:
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helpers.ApiError'
          description: Unauthorized
      security:
      - AccessTokenCookie: []
      summary: Logout
      tags:
      - Authentication
  /v1/auth/signin:
    post:
      description: Sign in with email and password
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/signin.SigninDto'
        description: Sign in parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/signin.TokenResponseDto'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helpers.ApiError'
          description: Bad Request
      summary: Sign in
      tags:
      - Authentication
  /v1/auth/status:
    get:
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helpers.ApiError'
          description: Unauthorized
      summary: Status Check
      tags:
      - Authentication
  /v1/event:
    get:
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/event.EventResponse'
                type: array
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helpers.ApiError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Get user events
      tags:
      - Event
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/event.EventCreateDto'
        description: Event parameters
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/model.Event'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helpers.ApiError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Create an event
      tags:
      - Event
  /v1/event/{id}:
    get:
      parameters:
      - description: Event Id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/event.EventResponse'
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helpers.ApiError'
          description: Bad Request
      summary: Get event
      tags:
      - Event
  /v1/event/{id}/join:
    post:
      parameters:
      - description: Event Id
        in: path
        name: id
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/helpers.ApiError'
          description: Bad Request
      security:
      - BearerAuth: []
      summary: Join event
      tags:
      - Event
