definitions:
  account.AccountCreateDto:
    properties:
      email:
        type: string
      password:
        type: string
    required:
    - email
    - password
    type: object
  account.AccountUpdateDto:
    properties:
      color:
        type: string
      email:
        type: string
      password:
        type: string
      username:
        type: string
    type: object
  account.ForgotPasswordDto:
    properties:
      email:
        type: string
    required:
    - email
    type: object
  account.ResetPasswordDto:
    properties:
      password:
        type: string
      token:
        type: string
    required:
    - password
    - token
    type: object
  availability.AvailabilityCreateDto:
    properties:
      endsAt:
        type: string
      startsAt:
        type: string
    required:
    - endsAt
    - startsAt
    type: object
  availability.AvailabilityUpdateDto:
    properties:
      endsAt:
        type: string
      startsAt:
        type: string
    type: object
  constants.EventStatus:
    enum:
    - IN_DECISION
    - UPCOMING
    - FINISHED
    type: string
    x-enum-varnames:
    - EVENT_STATUS_IN_DECISION
    - EVENT_STATUS_UPCOMING
    - EVENT_STATUS_FINISHED
  constants.Provider:
    enum:
    - google
    - discord
    - github
    type: string
    x-enum-varnames:
    - PROVIDER_GOOGLE
    - PROVIDER_DISCORD
    - PROVIDER_GITHUB
  event.EventCreateDto:
    properties:
      description:
        type: string
      duration:
        maximum: 30240
        minimum: 15
        type: integer
      endsAt:
        type: string
      name:
        type: string
      startsAt:
        type: string
    required:
    - duration
    - endsAt
    - name
    - startsAt
    type: object
  event.EventProfileDto:
    properties:
      color:
        type: string
    type: object
  event.EventResponse:
    properties:
      availabilities:
        items:
          $ref: '#/definitions/model.Availability'
        type: array
      createdAt:
        type: string
      description:
        type: string
      duration:
        description: In minutes
        type: integer
      endsAt:
        type: string
      id:
        type: string
      name:
        type: string
      owner:
        allOf:
        - $ref: '#/definitions/model.Account'
        description: Relations
      participants:
        items:
          $ref: '#/definitions/model.Account'
        type: array
      slots:
        items:
          $ref: '#/definitions/model.Slot'
        type: array
      startsAt:
        type: string
      status:
        $ref: '#/definitions/constants.EventStatus'
    type: object
  event.EventUpdateDto:
    properties:
      description:
        type: string
      duration:
        maximum: 30240
        minimum: 15
        type: integer
      endsAt:
        type: string
      name:
        type: string
      startsAt:
        type: string
      status:
        allOf:
        - $ref: '#/definitions/constants.EventStatus'
        enum:
        - IN_DECISION
    type: object
  helpers.ApiError:
    properties:
      code:
        type: string
    type: object
  lib.PaginationResult-event_EventResponse:
    properties:
      data:
        items:
          $ref: '#/definitions/event.EventResponse'
        type: array
      limit:
        type: integer
      page:
        type: integer
      total:
        type: integer
    type: object
  model.Account:
    properties:
      avatarUrl:
        type: string
      color:
        type: string
      createdAt:
        type: string
      email:
        type: string
      events:
        items:
          $ref: '#/definitions/model.AccountEvent'
        type: array
      id:
        type: string
      providers:
        items:
          $ref: '#/definitions/model.AccountProvider'
        type: array
      userName:
        type: string
    type: object
  model.AccountEvent:
    properties:
      account:
        allOf:
        - $ref: '#/definitions/model.Account'
        description: Relations
      createdAt:
        type: string
      event:
        $ref: '#/definitions/model.Event'
    type: object
  model.AccountProvider:
    properties:
      provider:
        $ref: '#/definitions/constants.Provider'
    type: object
  model.Availability:
    properties:
      endsAt:
        type: string
      id:
        type: string
      startsAt:
        type: string
      userName:
        type: string
    type: object
  model.Event:
    properties:
      availabilities:
        items:
          $ref: '#/definitions/model.Availability'
        type: array
      createdAt:
        type: string
      description:
        type: string
      duration:
        description: In minutes
        type: integer
      endsAt:
        type: string
      id:
        type: string
      name:
        type: string
      owner:
        allOf:
        - $ref: '#/definitions/model.Account'
        description: Relations
      slots:
        items:
          $ref: '#/definitions/model.Slot'
        type: array
      startsAt:
        type: string
      status:
        $ref: '#/definitions/constants.EventStatus'
    type: object
  model.Slot:
    properties:
      endsAt:
        type: string
      id:
        type: string
      isValidated:
        type: boolean
      startsAt:
        type: string
    type: object
  signin.SigninDto:
    properties:
      identifier:
        type: string
      password:
        type: string
    required:
    - identifier
    - password
    type: object
  signin.TokenResponseDto:
    properties:
      access_token:
        type: string
    type: object
  slot.ConfirmSlotDto:
    properties:
      endsAt:
        type: string
      startsAt:
        type: string
    required:
    - endsAt
    - startsAt
    type: object
info:
  contact:
    email: contact@zide.fr
  description: SlotFinder API Doc
  title: SlotFinder API
  version: 1.0b
paths:
  /api/v1/account:
    patch:
      consumes:
      - application/json
      description: Update own account
      parameters:
      - description: Account parameters
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/account.AccountUpdateDto'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Account'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      security:
      - AccessTokenCookie: []
      summary: Update my account
      tags:
      - Account
    post:
      consumes:
      - application/json
      description: Create a new account with the provided parameters.
      parameters:
      - description: Account parameters
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/account.AccountCreateDto'
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      summary: Create an account
      tags:
      - Account
  /api/v1/account/forgot-password:
    post:
      consumes:
      - application/json
      description: Send a password reset email to the user
      parameters:
      - description: Email for password reset
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/account.ForgotPasswordDto'
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      summary: Forgot Password
      tags:
      - Account
  /api/v1/account/me:
    get:
      consumes:
      - application/json
      description: Get the account information of the current user.
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Account'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      security:
      - AccessTokenCookie: []
      summary: Get My Account
      tags:
      - Account
  /api/v1/account/reset-password:
    post:
      consumes:
      - application/json
      description: Reset password using reset token
      parameters:
      - description: Reset token and new password
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/account.ResetPasswordDto'
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      summary: Reset Password
      tags:
      - Account
  /api/v1/auth/{provider}/url:
    get:
      parameters:
      - description: OAuth provider
        enum:
        - google
        - github
        - discord
        in: path
        name: provider
        required: true
        type: string
      - description: URL to return to after OAuth
        in: query
        name: returnUrl
        type: string
      responses:
        "200":
          description: OAuth URL
          schema:
            type: string
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      summary: Get redirect URL for OAuth provider
      tags:
      - Authentication
  /api/v1/auth/logout:
    post:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/helpers.ApiError'
      security:
      - AccessTokenCookie: []
      summary: Logout
      tags:
      - Authentication
  /api/v1/auth/signin:
    post:
      consumes:
      - application/json
      description: Sign in with email and password
      parameters:
      - description: Sign in parameters
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/signin.SigninDto'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/signin.TokenResponseDto'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      summary: Sign in
      tags:
      - Authentication
  /api/v1/auth/status:
    get:
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/helpers.ApiError'
      summary: Status Check
      tags:
      - Authentication
  /api/v1/availabilities/{availabilityId}:
    delete:
      consumes:
      - application/json
      parameters:
      - description: Availability ID
        in: path
        name: availabilityId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      security:
      - BearerAuth: []
      summary: Delete an availability
      tags:
      - Availability
    patch:
      consumes:
      - application/json
      parameters:
      - description: Availability ID
        in: path
        name: availabilityId
        required: true
        type: string
      - description: Availability parameters
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/availability.AvailabilityUpdateDto'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Availability'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      security:
      - BearerAuth: []
      summary: Update an availability
      tags:
      - Availability
  /api/v1/events:
    get:
      consumes:
      - application/json
      parameters:
      - default: 1
        description: Page number
        in: query
        name: page
        type: integer
      - default: 20
        description: Items per page
        in: query
        name: limit
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/lib.PaginationResult-event_EventResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      security:
      - BearerAuth: []
      summary: Get user events
      tags:
      - Event
    post:
      consumes:
      - application/json
      parameters:
      - description: Event parameters
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/event.EventCreateDto'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Event'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      security:
      - BearerAuth: []
      summary: Create an event
      tags:
      - Event
  /api/v1/events/{eventId}:
    get:
      consumes:
      - application/json
      parameters:
      - description: Event Id
        in: path
        name: eventId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/event.EventResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      summary: Get event
      tags:
      - Event
    patch:
      consumes:
      - application/json
      parameters:
      - description: Event Id
        in: path
        name: eventId
        required: true
        type: string
      - description: Event parameters
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/event.EventUpdateDto'
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      security:
      - BearerAuth: []
      summary: Update an event
      tags:
      - Event
  /api/v1/events/{eventId}/availability:
    post:
      consumes:
      - application/json
      parameters:
      - description: Event ID
        in: path
        name: eventId
        required: true
        type: string
      - description: Availability parameters
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/availability.AvailabilityCreateDto'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Availability'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      security:
      - BearerAuth: []
      summary: Create an availability
      tags:
      - Availability
  /api/v1/events/{eventId}/join:
    post:
      consumes:
      - application/json
      parameters:
      - description: Event Id
        in: path
        name: eventId
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      security:
      - BearerAuth: []
      summary: Join event
      tags:
      - Event
  /api/v1/events/{eventId}/profile:
    patch:
      consumes:
      - application/json
      parameters:
      - description: Event Id
        in: path
        name: eventId
        required: true
        type: string
      - description: Event profile parameters
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/event.EventProfileDto'
      produces:
      - application/json
      responses:
        "200":
          description: OK
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      security:
      - BearerAuth: []
      summary: Update event profile
      tags:
      - Event
  /api/v1/slots/{slotId}/confirm:
    post:
      consumes:
      - application/json
      parameters:
      - description: Slot Id
        in: path
        name: slotId
        required: true
        type: string
      - description: Confirm Slot parameters
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/slot.ConfirmSlotDto'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/model.Slot'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/helpers.ApiError'
      security:
      - BearerAuth: []
      summary: Confirm a slot
      tags:
      - Slot
  /v1/events/{eventId}/sse:
    get:
      description: Establishes a Server-Sent Events connection to receive real-time
        updates for a specific event
      parameters:
      - description: Event ID
        in: path
        name: eventId
        required: true
        type: string
      responses:
        "200":
          description: SSE connection established
          schema:
            type: string
        "400":
          description: Invalid event ID
          schema:
            additionalProperties:
              type: string
            type: object
        "401":
          description: User not authenticated
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Connect to SSE for event updates
      tags:
      - SSE
securityDefinitions:
  AccessTokenCookie:
    description: Enter your bearer token in the format **Bearer &lt;token&gt;**
    in: cookie
    name: access_token
    type: apiKey
swagger: "2.0"
