@use "../../../utils/sass/mixins/helpers";

.ds-tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: helpers.pxToRem(150);
  padding: helpers.pxToRem(10);
  border: 1px solid var(--tag-color);
  border-radius: helpers.pxToRem(10);

  &--filled {
    background-color: var(--tag-color);
  }

  &--outlined {
    color: black;
    background-color: transparent;
  }
}
