@use '../../../../utils/sass/mixins/helpers';
.ds-tag {
  display: inline-flex;
  max-width: helpers.px-to-rem(150);
  padding: helpers.px-to-rem(10);
  border: 1px solid transparent;
  border-radius: helpers.px-to-rem(10);
  align-items: center;
  justify-content: center;

  &__content {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  /* =========================
     APPEARANCES
     ========================= */

  &--filled {
    border-color: var(--tag-color);
    background-color: var(--tag-color);
  }

  &--outlined {
    border-color: var(--tag-color);
    color: black;
    background-color: transparent;
  }
}
