@use "../../../utils/sass/mixins/helpers";
@use "../../../utils/sass/mixins/responsive";

.ds-link {
  --font-size: #{helpers.pxToRem(14)};

  font-size: var(--font-size);
  color: var(--color-primary, #1a73e8);
  text-decoration: none;
  cursor: pointer;

  @include responsive.mediaExceedsWidth("desktop-small") {
    --font-size: #{helpers.pxToRem(16)};
  }

  &:hover {
    color: var(--color-primary-dark, #1a73e8);
    text-decoration: underline;
  }

  &:focus-visible {
    outline: 2px solid var(--color-primary-dark, #1a73e8);
    outline-offset: 2px;
  }
}
