@use "../../utils/sass/mixins/helpers";

.loader {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-white);

  &__spinner {
    --ds-spinner-size: 4rem;
  }
}
