@use "../../../../utils/sass/mixins/helpers";

.ds-toast-container {
  position: fixed;
  bottom: helpers.pxToRem(20);
  left: 50%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: helpers.pxToRem(10);
  align-items: center;
  pointer-events: none;
  transform: translateX(-50%);
}
