# Environment
.env*
!.env.model
*.pem
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
app

# Test binary, built with `go test -c`
coverage.txt
*.test
coverage.txt
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

tmp
