.ds-input-text-atom {
  --input-shadow-color: hsla(var(--color-grey-300), 1);
  --input-shadow-size: 1px;

  width: 100%;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  color: hsl(var(--color-grey-900));
  background: #fff;
  box-shadow: 0 0 0 var(--input-shadow-size) var(--input-shadow-color);
  outline: none;
  transition: box-shadow 0.2s;

  &::placeholder {
    color: hsl(var(--color-grey-400));
  }

  &:focus {
    --input-shadow-color: hsla(var(--color-focus), 0.5);
    --input-shadow-size: 2px;
  }

  &[aria-invalid='true'] {
    --input-shadow-color: hsla(var(--color-error), 0.7);
    --input-shadow-size: 2px;

    &:hover,
    &:focus {
      --input-shadow-size: 3px;
    }
  }

  &:hover:not(:focus):not([aria-invalid='true']) {
    --input-shadow-color: hsla(var(--color-primary-light), 0.5);
    --input-shadow-size: 2px;
  }

  &:not(:focus):not([aria-invalid='true']):not(:placeholder-shown) {
    --input-shadow-color: hsla(var(--color-focus), 0.5);
  }
}
