.ds-checkbox-input-atom {
  position: relative;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin: 0;
  padding: 0;
  border: 1px solid hsl(var(--color-primary));
  border-radius: 3px;
  vertical-align: middle;
  background: transparent;
  cursor: pointer;
  appearance: none;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    width: 0.25rem;
    height: 0.45rem;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    opacity: 0;
    transform: translate(-50%, -60%) rotate(45deg);
    transition:
      border-color 120ms ease,
      opacity 120ms ease;
    pointer-events: none;
    content: '';
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:checked {
    border-color: hsl(var(--color-primary));
    background: transparent;
  }

  &:checked::after {
    border-right-color: hsl(var(--color-primary));
    border-bottom-color: hsl(var(--color-primary));
    opacity: 1;
  }

  &:hover:not(:disabled) {
    border: 2px solid hsl(var(--color-primary));
  }
}
