.ds-checkbox-input-atom {
  --input-shadow-color: hsl(var(--color-primary));
  --input-shadow-size: 2px;
  --checkbox-check-offset: -1px;

  position: relative;
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  padding: 0;
  border: 1px solid currentcolor;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  color: hsl(var(--color-primary));
  background-color: transparent;
  box-shadow: 0 0 0 var(--input-shadow-size) var(--input-shadow-color);
  transition:
    background-color 200ms ease,
    color 200ms ease;
  cursor: pointer;
  appearance: none;

  &::after {
    width: 0.45rem;
    height: 0.65rem;
    border-right: 1px solid hsl(var(--color-grey-100));
    border-bottom: 1px solid hsl(var(--color-grey-100));
    opacity: 0;
    transform: rotate(45deg) translateY(var(--checkbox-check-offset)) translateX(var(--checkbox-check-offset));
    content: '';
  }

  &:checked {
    background-color: currentcolor;

    &::after {
      opacity: 1;
    }
  }

  &:focus-visible,
  &:hover:not(:disabled) {
    --input-shadow-size: 3px;

    outline: none;
  }

  &[aria-invalid='true']:not(:checked) {
    border-color: hsl(var(--color-error));

    --input-shadow-color: hsl(var(--color-error));
  }
}
