@use "../../utils/sass/mixins/responsive";

.authentication {
  &__title {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
  }

  &__content {
    --cols: 4;
    --start: 1;

    @include responsive.mediaExceedsWidth("tablet") {
      --cols: 2;
      --start: 4;
    }

    @include responsive.mediaExceedsWidth("desktop-small") {
      --start: 6;
    }
  }
}
