@use "../../../utils/sass/mixins/helpers";
@use "../../../utils/sass/mixins/responsive";

.ds-modal {
  width: 100%;
  padding: helpers.pxToRem(12);
  margin: auto auto 0;
  border: helpers.pxToRem(1) solid var(--color-grey-300);
  border-radius: helpers.pxToRem(10) helpers.pxToRem(10) 0 0;

  &[open] {
    display: flex;
    flex-direction: column;
    row-gap: helpers.pxToRem(12);
  }

  @include responsive.mediaExceedsWidth(tablet) {
    width: fit-content;
    min-width: helpers.pxToRem(300);
    margin: auto;
    border-radius: helpers.pxToRem(10);
  }
}
