@use '../../../utils/sass/mixins/helpers';
@use '../../../utils/sass/mixins/responsive';

.ds-modal {
  display: grid;
  gap: helpers.px-to-rem(12);
  padding: helpers.px-to-rem(12);
  width: 100%;
  margin: auto auto 0;
  border: helpers.px-to-rem(1) solid var(--color-grey-300);
  border-radius: helpers.px-to-rem(10) helpers.px-to-rem(10) 0 0;
  background: var(--color-white);

  @include responsive.media-exceeds-width(tablet) {
    min-width: helpers.px-to-rem(300);
    width: fit-content;
    margin: auto;
    border-radius: helpers.px-to-rem(10);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
    gap: helpers.px-to-rem(8);

    .ds-modal__footer-button {
      width: fit-content;
    }
  }
}
