@use "../../../utils/sass/mixins/helpers";
@use "../../../utils/sass/mixins/responsive";

[data-popover-trigger] {
  anchor-name: var(--popover-anchor-name);
}

.ds-popover {
  --card-color-background: var(--color-white);
  --popover-row-gap: #{helpers.pxToRem(12)};
  --popover-width: 100%;
  --popover-border-radius: #{helpers.pxToRem(10)} #{helpers.pxToRem(10)} 0 0;

  position: fixed;
  inset-block: auto 0;
  inset-inline: 0;
  box-sizing: border-box;
  display: revert;
  margin-inline-start: 5px;

  &:popover-open {
    display: flex;
    flex-direction: column;
    row-gap: var(--popover-row-gap);

    @include responsive.mediaExceedsWidth("desktop-small") {
      --popover-row-gap: #{helpers.pxToRem(16)};
    }
  }

  &.ds-card {
    width: var(--popover-width);
    border-radius: var(--popover-border-radius);
  }

  @include responsive.mediaExceedsWidth("tablet") {
    --popover-width: fit-content;
    --popover-border-radius: #{helpers.pxToRem(8)};

    inset-block: anchor(top) auto;
    inset-inline: anchor(right) auto;
    max-width: helpers.pxToRem(300);
    position-anchor: var(--popover-anchor-name);
    position-try-fallbacks:
      --ds-popover-flip-left, --ds-popover-flip-up, --ds-popover-flip-left-up;
  }
}

@position-try --ds-popover-flip-left {
  inset-inline: auto anchor(left);
}

@position-try --ds-popover-flip-up {
  inset-block: auto anchor(bottom);
}

@position-try --ds-popover-flip-left-up {
  inset-block: auto anchor(bottom);
  inset-inline: auto anchor(left);
}
