@use '../../../../utils/sass/mixins/px-to-rem';
@use '../../../../utils/sass/mixins/responsive';

.ds-label-input {
  display: flex;
  column-gap: px-to-rem.rem(4);
  font-size: px-to-rem.rem(16);
  font-weight: 600;

  @include responsive.media-exceeds-width('desktop-small') {
    font-size: px-to-rem.rem(18);
  }

  span {
    font-weight: normal;
    color: var(--color-error);
  }
}
