@use "../../../../utils/sass/mixins/helpers";
@use "../../../../utils/sass/mixins/responsive";

.ds-label-input {
  --font-size: #{helpers.pxToRem(16)};

  font-size: var(--font-size);
  font-weight: 600;

  @include responsive.mediaExceedsWidth("desktop-small") {
    --font-size: #{helpers.pxToRem(18)};
  }

  span {
    font-weight: normal;
    color: var(--color-error);
  }
}
