@use "../../../utils/sass/mixins/helpers";
@use "../../../utils/sass/mixins/responsive";

.welcome {
  &__connexion-button {
    --start: 1;
    --cols: 4;

    justify-self: end;
    width: fit-content;
    margin-top: #{helpers.pxToRem(20)};
  }

  &__logo {
    --start: 1;
    --cols: 5;

    grid-row: 2;
    justify-self: center;
    width: 100%;
    height: auto;
  }

  h1,
  h2 {
    --start: 1;
    --cols: 5;

    grid-row: 2;
    height: fit-content;
  }

  h1 {
    font-size: #{helpers.pxToRem(48)};
    font-weight: 600;
  }

  h2 {
    margin-top: #{helpers.pxToRem(60)};
  }

  &__event-button {
    --start: 1;
    --cols: 4;

    grid-row: 4;
    width: fit-content;
    height: fit-content;
  }

  // Tablet : 8 colonnes
  @include responsive.mediaExceedsWidth("tablet") {
    &__connexion-button {
      --start: 6;
      --cols: 3;
    }

    &__logo {
      --start: 5;
    }

    h1 {
      margin-top: #{helpers.pxToRem(100)};
      font-size: #{helpers.pxToRem(64)};
    }

    h2 {
      --cols: 4;

      margin-top: #{helpers.pxToRem(200)};
    }

    &__event-button {
      grid-row: 2;
      margin-top: #{helpers.pxToRem(300)};
    }
  }

  // Desktop small : 12 colonnes
  @include responsive.mediaExceedsWidth("desktop-small") {
    &__connexion-button {
      --start: 10;
    }

    &__logo {
      --start: 7;
    }
  }

  // Desktop medium
  @include responsive.mediaExceedsWidth("desktop-medium") {
    &__connexion-button {
      --cols: 3;
    }
  }
}
