@use "../../../../utils/sass/mixins/helpers";
@use "../../../../utils/sass/mixins/responsive";

.ds-picture-upload-input {
  display: flex;
  flex-direction: column;
  gap: helpers.pxToRem(8);

  &__preview {
    max-width: helpers.pxToRem(100);
    object-fit: cover;

    @include responsive.mediaExceedsWidth("desktop-small") {
      max-width: helpers.pxToRem(200);
    }
  }
}
