.ds-input-error-message {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-error);
}

.input-error__icon {
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  fill: var(--color-error);
}
