@use "../../../../utils/sass/mixins/helpers";
@use "../../../../utils/sass/mixins/responsive";

.ds-input-error-message {
  --text-font-size: #{helpers.pxToRem(14)};
  --icon-size: #{helpers.pxToRem(16)};

  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-size: var(--text-font-size);
  color: var(--color-error);

  @include responsive.mediaExceedsWidth("desktop-small") {
    --text-font-size: #{helpers.pxToRem(16)};
    --icon-size: #{helpers.pxToRem(20)};
  }

  &__icon {
    flex-shrink: 0;
    width: var(--icon-size);
    height: var(--icon-size);
    fill: var(--color-error);
  }
}
