@use"../../../utils/sass/mixins/helpers";

.ds-heading {
  --ds-heading-font-size: #{helpers.px-to-rem(16)};

  font-size: var(--ds-heading-font-size);

  &:where(h1) {
    --ds-heading-font-size: #{helpers.px-to-rem(24)};
  }

  &:where(h2) {
    --ds-heading-font-size: #{helpers.px-to-rem(20)};
  }
}
