@use "../../../utils/sass/mixins/responsive";
@use "../../../utils/sass/mixins/helpers";

.ds-heading {
  --ds-heading-font-size: #{helpers.pxToRem(16)};

  font-size: var(--ds-heading-font-size);

  &:where(h1) {
    --ds-heading-font-size: #{helpers.pxToRem(24)};

    @include responsive.mediaExceedsWidth("tablet") {
      --ds-heading-font-size: #{helpers.pxToRem(32)};
    }
  }

  &:where(h2) {
    --ds-heading-font-size: #{helpers.pxToRem(20)};

    @include responsive.mediaExceedsWidth("tablet") {
      --ds-heading-font-size: #{helpers.pxToRem(24)};
    }
  }

  &:where(h3) {
    @include responsive.mediaExceedsWidth("tablet") {
      --ds-heading-font-size: #{helpers.pxToRem(20)};
    }
  }
}
