.ds-color-input {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 6px 12px;
  border-radius: 999px;
  cursor: pointer;
  font-weight: 600;
  width: 80px;

  &__icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
  }

  &__value {
    font-size: 14px;
  }

  /* input color natif caché */
  &__native {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  &:focus-within {
    outline: 1px solid black;
    outline-offset: 2px;
    transition: 0.1s ease;
  }
}
