@use "../../utils/sass/mixins/helpers";
@use "../../utils/sass/mixins/spacing";
@use "../../utils/sass/mixins/responsive";

$responsive-grid: (
  tablet: (
    cols: 8,
    margin-h: spacing.get-margin-horizontal(4),
    gap: spacing.get-gap(4),
    row-gap: spacing.get-gap(4),
  ),
  desktop-small: (
    cols: 12,
    margin-h: var(--margin-8),
    gap: spacing.get-gap(4),
    row-gap: spacing.get-gap(4),
  ),
  desktop-medium: (
    cols: 12,
    margin-h: var(--margin-10),
    gap: spacing.get-gap(4),
    row-gap: spacing.get-gap(4),
  ),
  desktop-large: (
    cols: 12,
    margin-h: auto,
    gap: spacing.get-gap(4),
    row-gap: spacing.get-gap(4),
  ),
);

@mixin generate-responsive-grid($responsive-grid) {
  @each $breakpoint, $settings in $responsive-grid {
    @include responsive.media-exceeds-width($breakpoint) {
      @each $property, $value in $settings {
        --#{$property}: #{$value};
      }
    }
  }
}

.grid {
  --cols: 4;
  --row-gap: #{spacing.get-gap(2)};
  --start: auto;

  display: grid;

  @include spacing.init-margin-horizontal("margin-h", 2);
  @include spacing.init-spacing(spacing.get-gap(2), "column-gap", "gap");

  max-width: helpers.px-to-rem(1440);
  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));
  row-gap: var(--row-gap);

  @include generate-responsive-grid($responsive-grid);
}

.grid > *,
.subgrid > * {
  grid-column: var(--start) / span var(--cols);
}

.subgrid {
  display: grid;
  grid-template-columns: subgrid;
  align-content: start;
  row-gap: var(--row-gap);
}
