name: Back Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'back/**'
      - '.github/workflows/back-build.yaml'
      - '.github/actions/setup-go/**'
      - 'Makefile'
  workflow_dispatch:

env:
  HUSKY: 0
  BACK_FOLDER: ./back

jobs:
  install:
    name: Install dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Go
        uses: ./.github/actions/setup-go

      - name: Install dependencies
        working-directory: ${{ env.BACK_FOLDER }}
        run: go mod download

  lint:
    name: Lint code
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Go
        uses: ./.github/actions/setup-go

      - name: Install golangci-lint
        run: go install github.com/golangci/golangci-lint/cmd/golangci-lint@latest

      - name: Run linter
        working-directory: ${{ env.BACK_FOLDER }}
        run: golangci-lint run ./...

  test:
    name: Test
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Go
        uses: ./.github/actions/setup-go

      - name: Run tests
        working-directory: ${{ env.BACK_FOLDER }}
        run: go test -v ./... -race -coverprofile=coverage.txt -covermode=atomic

      - name: Upload coverage reports
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          file: ${{ env.BACK_FOLDER }}/coverage.txt
          flags: backend

  build:
    name: Build
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Go
        uses: ./.github/actions/setup-go

      - name: Build
        working-directory: ${{ env.BACK_FOLDER }}
        run: go build -v ./...

  swaggo:
    name: Check Swagger documentation build
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Go
        uses: ./.github/actions/setup-go

      - name: Install swag
        run: go install github.com/swaggo/swag/cmd/swag@latest

      - name: Generate Swagger documentation
        working-directory: ${{ env.BACK_FOLDER }}
        run: |
          swag init
          if [ "$(uname)" = "Darwin" ]; then
            sed -i '' '/LeftDelim/d; /RightDelim/d' docs/docs.go
          else
            sed -i '/LeftDelim/d; /RightDelim/d' docs/docs.go
          fi
