name: Back Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - "back/**"
      - ".github/workflows/back-build.yaml"
      - ".github/actions/setup-go/**"
      - "Makefile"
  workflow_dispatch:
  merge_group:

env:
  HUSKY: 0
  BACK_FOLDER: ./back

jobs:
  install:
    name: Install dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Go
        uses: ./.github/actions/setup-go

      - name: Install dependencies
        working-directory: ${{ env.BACK_FOLDER }}
        run: go mod download

  lint:
    name: Lint code
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Go
        uses: ./.github/actions/setup-go

      - name: Run vet
        working-directory: ${{ env.BACK_FOLDER }}
        run: go vet ./...

  test:
    name: Test
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Go
        uses: ./.github/actions/setup-go

      - name: Run tests
        working-directory: ${{ env.BACK_FOLDER }}
        run: go test -v ./... -race -coverprofile=coverage.txt -covermode=atomic

      - name: Upload coverage reports
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5
        with:
          file: ${{ env.BACK_FOLDER }}/coverage.txt
          flags: backend

  build:
    name: Build
    needs: install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Go
        uses: ./.github/actions/setup-go

      - name: Build
        working-directory: ${{ env.BACK_FOLDER }}
        run: go build -v ./...

  swaggo:
    name: Check Swagger documentation build
    needs: install
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Go
        uses: ./.github/actions/setup-go

      - name: Install swag
        run: go install github.com/swaggo/swag/cmd/swag@latest

      - name: Generate Swagger documentation
        working-directory: ${{ env.BACK_FOLDER }}
        run: |
          swag init
          sed -i '/LeftDelim/d; /RightDelim/d' docs/docs.go
