name: Docker Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'docker-compose.dev.yml'
      - 'docker/**'
      - 'front/Dockerfile'
      - 'back/Dockerfile'
      - '.github/workflows/docker-build.yml'
  workflow_dispatch:
  merge_group:
     branches: ['main']

jobs:
  build:
    name: Development Docker Compose Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Build Development Docker Compose
        run: docker compose -f docker-compose.dev.yml build
