name: Front Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    paths:
      - 'front/**'
      - '.github/workflows/front-build.yaml'
      - '.github/actions/setup-node/**'
      - 'Makefile'
  workflow_dispatch:
  merge_group:
     branches: ['main']

env:
  FRONT_FOLDER: ./front

jobs:
  install:
    name: Install package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Check package-lock.json
        working-directory: ${{ env.FRONT_FOLDER }}
        run: npm run package:check

      - name: Install package
        working-directory: ${{ env.FRONT_FOLDER }}
        run: npm ci
        
  lint:
    name: Lint code
    needs:
      - install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Run lint
        working-directory: ${{ env.FRONT_FOLDER }}
        run: npm run lint

  test:
    name: Test
    needs:
      - install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Node
        uses: ./.github/actions/setup-node
      
      - name: Run Playwright install
        working-directory: ${{ env.FRONT_FOLDER }}
        run: npx playwright install

      - name: Run test
        working-directory: ${{ env.FRONT_FOLDER }}
        run: npm run test

  build:
    name: Build
    needs:
      - install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Run build
        working-directory: ${{ env.FRONT_FOLDER }}
        run: npm run build

  storybook-build:
    name: Build Storybook
    needs:
      - install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Run build
        working-directory: ${{ env.FRONT_FOLDER }}
        run: npm run build:storybook
