name: Front Build

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
  workflow_dispatch:

env:
  HUSKY: 0
  FRONT_FOLDER: ./front

jobs:
  install:
    name: Install package
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Check package-lock.json
        working-directory: ${{ env.FRONT_FOLDER }}
        run: npm run package:check

      - name: Install package
        working-directory: ${{ env.FRONT_FOLDER }}
        run: npm ci
        
  commitlint:
    if: github.event_name == 'pull_request'
    name: CommitLint
    needs:
      - install
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: ./.github/actions/setup-node

      # https://commitlint.js.org/guides/ci-setup.html#github-actions
      - name: Validate PR commits with commitlint
        working-directory: ${{ env.FRONT_FOLDER }}
        run: npx commitlint --from ${{ github.event.pull_request.head.sha }}~${{ github.event.pull_request.commits }} --to ${{ github.event.pull_request.head.sha }} --verbose --color

  lint:
    name: Lint code
    needs:
      - install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Run lint
        working-directory: ${{ env.FRONT_FOLDER }}
        run: npm run lint

  test:
    name: Test
    needs:
      - install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Run test
        working-directory: ${{ env.FRONT_FOLDER }}
        run: npm run test

  build:
    name: Build
    needs:
      - install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Run build
        working-directory: ${{ env.FRONT_FOLDER }}
        run: npm run build

  storybook-build:
    name: Build Storybook
    needs:
      - install
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6

      - name: Setup Node
        uses: ./.github/actions/setup-node

      - name: Run build
        working-directory: ${{ env.FRONT_FOLDER }}
        run: npm run build:storybook
